<h2 class="tweet-list-heading">{{userName}} tweeted in ethTweet {{numberOfTweets}} times</h2>
<article class="eth-tweet ui raised segment" *ngFor="#t of tweets">
    <header>
        <strong class="ethTweet--user">{{t.user}}: </strong>
        <span class="eth-tweet--date">
            <span class="eth-tweet--date-date">{{t.date.toLocaleDateString()}}</span> &mdash; <span class="eth-tweet--date-time">{{t.date.toLocaleTimeString()}}</span>
        </span>
    </header>
    <p>{{t.message}}</p>
</article>
