<div class="ui menu borderless">
    <div class="ui container">
        <div class="item">
            <h1>EthTweet-UI</h1>
        </div>

        <div class="right item">
            <div *ngIf="ethStatus">
                <div class="eth-status eth-status--active">
                    <span style="color: green;">✓</span> Connected to eth.
                    <p class="sth-status--meta">
                        network version: {{version.network}}<br />
                        ethereum version: {{version.ethereum}}
                    </p>
                </div>
            </div>

            <div class="eth-status eth-status--inactive" *ngIf="!ethStatus">
                <span style="color: red;">✘</span> Not comnnected to eth.
            </div>

        </div>
    </div>
</div>

<div class="ui container" *ngIf="ethStatus">
    <eth-tweet>Loading EthTweet...</eth-tweet>
</div>
